# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Qt Designer / PyQt5
# =========================
# Игнорируем временные файлы и бэкапы редактора
*.ui.bak
*~

# =========================
# Krita Plugin Specific
# =========================
# Игнорируем архивы, если вы пакуете готовый плагин для релиза прямо в этой папке
*.zip  
# Бэкапы файлов Krita (если будете хранить тестовые холсты прямо в проекте)
*.kra~