[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=brush_studio
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name= Brush Studio
Comment=Минималистичная адаптивная панель кистей с глобальными настройками